.example-card {
    margin-top: 20px;
    width: 100%;
}

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

.menu {
    position: absolute;
    top: -5px;
    right: 0;
}